
<div class="shoutbox" id="content">
	<div class="container">
		<h1>Welcome to MaxKanji</h1>
		<p>A simple Kanji, Jukugo, and Tango Reference Site!</p>
	</div>
</div>

<div class="container">


	<div class="row">
		<div class="col-md-8">
			<h4>A simple self resource for 漢字</h4>
			<p> 
				I'm currently a software engineer. I specialize in Web, Mobile, and 3D technologies, but apart from that I have a huge love for foreign languages. Even though I try very hard to get my foreign language studies in every day, the busy life of a young professional can take a toll on your time for dedicated and focused review. So instead of fighting the day to find time between writing programs and keeping up with my languages, I decided to merge the two! Why not right? 
			</p>
			<p>
				As you can see there are not that many Kanji out there in the database but I will be adding more and more every day and week. My goal is to get 20-30 out every week. Thus, by the end of February I should have all the 常用漢字 in this database!
			</p>
		</div>
		<div class="col-md-4">
			<h4>Follow Me!</h4>
			<a class="btn btn-sm" href="https://www.facebook.com/max.alexander.9"><i class="icon-facebook"></i>&nbsp;My Facebook</a>
			<a class="btn btn-sm" href="zinkpulse.com"><i class="icon-wordpress"></i>&nbsp;My Blog</a>
			<a class="btn btn-sm" href="twitter.com/mbalex99"><i class="icon-twitter"></i>&nbsp;My Twitter</a>
			<a class="btn btn-sm" href="https://github.com/mbalex99"><i class="icon-github"></i>&nbsp;My Github</a>
			<br/>
			<h4>This website was built using OpenSource Technologies</h4>
			<dl>
				<dt>Client Side</dt>
				<dd><a href="http://angularjs.org/">AngularJS</a></dd>
				<dt>Server Side</dt>
				<dd><a href="http://nodejs.org/">NodeJS</a></dd>
				<dd><a href="http://expressjs.com/">ExpressJS</a></dd>
				<dd><a href="http://mongoosejs.com/">MongooseJS</a></dd>
				<dt>Database</dt>
				<dd><a href="http://www.mongodb.org/">MongoDB</a></dd>
			</dl>
		</div>
	</div>
</div>