
<h1>{{message}}</h1>
<p class="lead">
	Welcome to MaxKanji. A Simple and Elegant way to learn Kanji, Tango, and Jukugo 
</p>

<h3>Hi I'm Max!</h3>
<p> 
	I'm currently a software engineer. I specialize in Web, Mobile, and 3D technologies, but apart from that I have a huge love for foreign languages. Even though I try very hard to get my foreign language studies in every day, the busy life of a young professional can take a toll on your time for dedicated and focused review. So instead of fighting the day to find time between writing programs and keeping up with my languages, I decided to merge the two! Why not right? 
</p>


<div class="row">
	<div class="col-md-4">
		<h4>This website was built using OpenSource Technologies</h3>
		<dl>
			<dt>Client Side</dt>
			<dd>AngularJS</dd>
			<dt>Server Side</dt>
			<dd>NodeJS</dd>
			<dd>ExpressJS</dd>
			<dd>MongooseJS</dd>
			<dt>Database</dt>
			<dd>MongoDb</dd>
		</dl>
	</div>
</div>
