<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary well">
                <div class="panel-body " style="text-align: center;">
                    <input type="text" style="font-size: 200px; width: 100%; text-align:center;" size="1"  ng-model="character"/ ng-hide="!isEditing">
                    <span style="font-size: 200px;" ng-hide="isEditing">{{character}}</span>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Meaning: <input type="text" ng-model="meaning" ng-hide="!isEditing"/> <span ng-hide="isEditing">{{meaning}}</span> </li>
                    <li class="list-group-item">音読み: <input type="text" ng-model="onYomi" ng-hide="!isEditing"/>  <span ng-hide="isEditing">{{onYomi}}</span> </li>
                    <li class="list-group-item">訓読み: <input type="text" ng-model="kunYomi"ng-hide="!isEditing"/> <span ng-hide="isEditing">{{kunYomi}}</span> </li>
                </ul>
                <a class="btn btn-success btn-sm" ng-hide="!isEditing" ng-click="saveChanges()"><i class="icon-save"></i>&nbsp;Save Changes</a>
                <a ng-hide="!isCanEdit" class="btn bnt-default btn-sm" ng-hide="isEditing" ng-click="beginEditing()"><i class="icon-pencil"></i>&nbsp;Edit</a>
                <br/>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    単語/熟語　Vocabulary and Compound Words
                    <a ng-click="createNewVocab()" ng-hide="!isEditing" class="btn btn-primary btn-xs pull-right"><i class="icon-plus"></i> Add new vocab</a>    
                </div>
                <!-- List group -->

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Kana</th>
                            <th>Meaning</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vocab in vocabs">
                            <td>
                                <a ng-click="removeVocab($index)" ng-hide="!isEditing"><i class="icon-remove"/> </a>
                            </td>
                            <td>
                                <input type="text" ng-model="vocab.value" ng-hide="!isEditing"/>
                                <span ng-hide="isEditing">{{vocab.value}}</span>
                            </td>
                            <td>
                                <input type="text" ng-model="vocab.kana" ng-hide="!isEditing"/>
                                <span ng-hide="isEditing">{{vocab.kana}}</span>
                            </td>
                            <td>
                                <input type="text" ng-model="vocab.meaning" ng-hide="!isEditing"/>
                                <span ng-hide="isEditing">{{vocab.meaning}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    例文 Example Sentences and Phrases
                    <a ng-click="createNewPhrase()" ng-hide="!isEditing" class="btn btn-primary btn-xs pull-right"><i class="icon-plus"></i> Add new phrase</a>    
                </div>

                <!-- List group -->

                <table class="table table-hover" ng-hide="isEditing">
                    <tbody>
                        <tr ng-repeat="phrase in phrases">
                            <td>
                                <span>{{phrase.value}}</span><br/>
                                <span>{{phrase.meaning}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover" ng-hide="!isEditing">
                    <tbody>
                        <tr ng-repeat="phrase in phrases">
                            <td>
                                <a ng-click="removePhrase($index)" ng-hide="!isEditing"><i class="icon-remove"/> </a>
                            </td>
                            <td>
                                <input type="text" ng-model="phrase.value" style="width:100%;"  /><br/><br/>
                                <input type="text" ng-model="phrase.meaning" style="width:100%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"></div>
    </div>

</div>