<div class="row">
    <div class="col-md-12">
        <h3>Kanji List</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kanji in kanjis">
                    <td>
                        <a ng-href="#/kanji/{{kanji._id}}">
                            {{kanji.character}}
                        </a>
                        </td>
                    <td>{{kanji.meaning}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
