<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary well">
            <div class="panel-body " style="text-align: center;">
                <span style="font-size: 200px;">{{character}}</span>
            </div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Meaning: {{meaning}}</li>
                <li class="list-group-item">音読み:</li>
                <li class="list-group-item">訓読み:</li>
            </ul>
        </div>

    </div>
    <div class="col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                単語
            </div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Meaning: <input type="text" ng-model="meaning"></li>
                <li class="list-group-item">音読み: <input type="text" ng-model="onYomi"/></li>
                <li class="list-group-item">訓読み: <input type="text" ng-model="kunYomi"/></li>
            </ul>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                例文
            </div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">兄弟がいないんだけど、私はとてもいそがしいです。</li>
                <li class="list-group-item">明日ならレストランに行けないんですけど、友達とに日曜日にいけると思う。。。</li>
                <li class="list-group-item">訓読み:</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"></div>
</div>