body h1, h2, h3, p{ 
	font-family: 'Roboto Slab', serif;
}

.navbar-brand a{
	color: #FFF;
}

.navbar-inverse{
	background-color :#2b3035;
	color: ; #FFF;
}

.shoutbox
{
	padding: 40px 20px 40px;
}

.modal {
	display: block;
	height: 0;
	overflow: visible;
}