body {
	background-color: #E8E8E8;
}

body h1, h2, h3, p{ 
	font-family: 'Roboto Slab', serif;
}

.navbar-brand a{
	color: #FFF;
}

.navbar-inverse{
	background-color :#3A3028;
	color:  #FFF;
	margin-bottom: 0px;
}

.shoutbox
{
	padding: 40px 20px 40px;
	background-color: #F9CDAD;
}

.modal {
	display: block;
	height: 0;
	overflow: visible;
}